header.header

    // container

    .container

        // logo space

        .header__logo-space

            // logotype

            a.logo.header__logo(href="#" title="")
                img(src="../img/logo.png" alt="@@")

        // nav space

        .header__nav-space

            // nav btn space

            .header__nav-button-space

                // button

                a.button.button-grey.header__nav-button-space__promo(href="#" title="")

                // navigation

                nav.header__nav
                    ul
                        li: a.nav-active(href="#" title="") Home
                        li: a(href="#" title="") Services
                        li: a(href="#" title="") Cases
                        li: a(href="#" title="") News
                        li: a(href="#" title="") About us
                        li: a(href="#" title="") Jobs
                        li: a(href="#" title="") Contact