// variables

// colors

@white: #fff;
@black: #161616;
@orange: #F47821;
@grey: #F7F5FA;

// sizes page

@desktop: 1400px;
@mobile: 320px;

// icons

@icomoon-font-family: "bananas";
@icomoon-font-path: "fonts";

@icon-plus: "\e900";
@icon-purse: "\e901";