// variables

// colors

@white: #fff;
@black: #161616;
@black-dark: #222;
@orange: #F47821;
@grey: #F7F5FA;
@grey-dark: #878787;

// sizes page

@desktop: 1200px;
@tablet: 760px;
@mobile: 380px;

// icons

@icon-plus: "\e900";
@icon-purse: "\e901";