.readiness
    h1.readiness__title.wow.fadeIn Ты готов стать профессионалом?
    p.readiness__desc.wow.fadeIn  Мы ищем <a class='readiness__link' href="#" title="">талантов</a> и <a class='readiness__link' href="#" title="">саппортов</a> в команду. Решите на какую категорию вы претендуете.
    a.readiness__button.button-worksheet.wow.fadeIn(href="#" title="")
        .icon-plus.button-worksheet__icon
        .button-worksheet__title Заполнить анкету