.about
    .about__container
        h4.about__title Теперь расскажите о себе
        form.about__form(action="#" method="post")
            .about__form-item
                .about__form-item-title-number 1
                .about__form-item-title Фамилия и имя
                input.about__form-item-input(type="text" placeholder="Сидоров Александр" required)
            .about__form-item
                .about__form-item-title-number 2
                .about__form-item-title Электронная почта
                input.about__form-item-input(type="email" placeholder="Sidorov@yandex.ru" required)
            .about__form-item
                .about__form-item-title-number 3
                .about__form-item-title Телефон
                input.phone.about__form-item-input(type="text" placeholder="+7 (999)-328-14-20" required)
            .about__form-item
                .about__form-item-title-number 4
                .about__form-item-title Какой деятельностью, не связанной с текущими проектами, вы бы хотели заниматься в рабочее время?
                textarea.about__form-item-input(placeholder="Свой проект по созданию универсальной инфраструктуры строительства" required)
            button.about__form-button Отправить