.main-slider

        .scroll-down-container

            .container

                // scroll down

                .scroll-down
                    .scroll-down__element.scroll-down_animated
                        span
                        p
                            | Scroll down

        // main slider container

        .container

            ul.main-slider__container

                // item

                li
                    // mask
                    .main-slider__container__mask
                        h2.wow.fadeIn
                            | WE ARE BANANAS,<br/>CRAFTSMEN OF<br/>EXPERIENCES
                        p.wow.fadeIn(data-wow-delay="1s")
                            | We forge connections between brand and people.

                // item

                li
                    // mask
                    .main-slider__container__mask
                        h2
                            | Lorem ipsum dolor sit amet,<br/>consectetur adipiscing</br>elit
                        p
                            | Donec vestibulum enim ac eros luctus scelerisque.

                // item

                li
                    // mask
                    .main-slider__container__mask
                        h2
                            | Curabitur<br/>tincidunt rutrum<br/>libero
                        p
                            | Suspendisse ut consectetur sapien.
