.services

    // container

    .container.service-middle

        // button close

        a.btn-close(href="#" title="")
            .icon.icon-plus

        // title block

        h3.title-block
            | Services

        // description block

        p.description-block
            | We can help you with a wide range of tactics within brand activation, depending on your business objectives or marketing goals. This gives us proven expertise for all services from Tier 1 to Tier 3.
        
        // services items small

        .services-items.contentSmall

            // column

            .services-items__column

                // item

                .services-items__column__item.services-items__one.services-items__column__item_active.wow.fadeIn

                    // content

                    .services-items__content

                        h4
                            | Foodtruck

                        .icon.icon-foodtruck

                        a(href="#" title="")
                            | Read more

            // column

            .services-items__column

                // item

                .services-items__column__item.wow.fadeIn(data-wow-delay="0.5s")

                    // content

                    .services-items__content

                        h4
                            | MERCHANDISING

                        .icon.icon-merchandising

                        p
                            | Brand supporting logistics 
                            span
                                | from retail to events

                // item

                .services-items__column__item.services-items__two.wow.fadeIn(data-wow-delay="1s")

                    // content

                    .services-items__content

                        h4
                            | In store <br/> 
                            span
                                | activation

                        .icon.icon-instoreactivation

                        p
                            | Activate your band in the <br/>
                            span
                                | point of sale

            // column

            .services-items__column

                // item

                .services-items__column__item.services-items__three.more.wow.fadeIn(data-wow-delay="1.5s")

                    // content

                    .services-items__content

                        h4
                            | View more <br/> 
                            span
                                | services

                        .icon.icon-plus   

        // services items big

        .services-items.contentBig

            // column

            .services-items__column.services-items__column-hosp

                // item

                .services-items__column__item.services-items__one

                    // content

                    .services-items__content

                        h4
                            | Hospitality

                        .icon.icon-hospitality

                        p
                            | The right people for all <br/>
                            span
                                | events and hospitality

            // column

            .services-items__column.services-items__column-mia

                // item

                .services-items__column__item.services-items__one

                    // content

                    .services-items__content

                        h4
                            | MIA

                        .icon.icon-mia

                        p
                            | The mobile activation on wheels<br/>
                            span
                                | for maximum coverage

            // column

            .services-items__column

                // item

                .services-items__column__item.services-items__one.services-items__column__item_active

                    // content

                    .services-items__content

                        h4
                            | Foodtruck

                        .icon.icon-foodtruck

                        p
                            | Great way to engage with your<br/>
                            span
                                | audience in a fresh and foodie

                // item

                .services-items__column__item.services-items__festivals

                    // content

                    .services-items__content

                        h4
                            | Festivals

                        .icon.icon-festivals

                        p
                            | Connect with people in<br/>
                            span
                                | a festive way

                // item

                .services-items__column__item.services-items__popup

                    // content

                    .services-items__content

                        h4
                            | Popup

                        .icon.icon-popup

                        p
                            | Create an immersive <br/>
                            span
                                | in a temporary setting

                // item

                .services-items__column__item.services-items__ontraid

                    // content

                    .services-items__content

                        h4
                            | Ontraid

                        .icon.icon-ontraid

                        p
                            | Activate your band in the<br/>
                            span
                                | point of sale

            // column

            .services-items__column

                // item

                .services-items__column__item

                    // content

                    .services-items__content

                        h4
                            | MERCHANDISING

                        .icon.icon-merchandising

                        p
                            | Brand supporting logistics 
                            span
                                | from retail to events

                // item

                .services-items__column__item.services-items__two

                    // content

                    .services-items__content

                        h4
                            | Events

                        .icon.icon-events

                        p
                            | Create your own custom event<br/>
                            span
                                | for all your shareholders

                // item

                .services-items__column__item.services-items__sampling

                    // content

                    .services-items__content

                        h4
                            | Sampling

                        .icon.icon-sampling

                        p
                            | Create brand preference<br/>
                            span
                                | having people taste your

            // column

            .services-items__column

                // item

                .services-items__column__item.services-items__three

                    // content

                    .services-items__content

                        h4
                            | In store <br/> 
                            span
                                | activation

                        .icon.icon-instoreactivation

                        p
                            | Activate your band in the <br/>
                            span
                                | point of sale

                // item

                .services-items__column__item.services-items__photo

                    // content

                    .services-items__content

                        h4
                            | Photo <br/> 
                            span
                                | activation

                        .icon.icon-photo-activation

                        p
                            | Capture memorable moments <br/>
                            span
                                | to share online