.work-with-us
    .work-with-us__container
        h3.work-with-us__title Приемущества работы с нами
        ul.work-with-us__list
            li.work-with-us__item
                .work-with-us__item-icon.icon-purse
                .work-with-us__item-title Делимся оптом и навыками
                .work-with-us__item-line
                .work-with-us__item-desc Мы обучаем коллег всему, что знаем сами. Наш опыт уникален и проверен временем, а команда постоянно совершенствует свои знания и навыки.
            li.work-with-us__item
                .work-with-us__item-icon.icon-purse
                .work-with-us__item-title Стабильная зарплата
                .work-with-us__item-line
                .work-with-us__item-desc Вы без задержек получаете официальную зарплату. Также мы оплачиваем больничные и даем возможность брать оплачиваемый отпуск до 4 недель в год.
            li.work-with-us__item
                .work-with-us__item-icon.icon-purse
                .work-with-us__item-title Гибкий график
                .work-with-us__item-line
                .work-with-us__item-desc Мы умеем работать с теми, кто еще не закончил получать образование. Вы можете работать неполный рабочий день, брать отгулы на время сессии и диплома.